<div class="row">
  <div class="col-lg-3 mt-3" *ngFor="let product of prodacts">
    <div class="form-group text-center">
      <img src="{{product.imageUrl}}" style="width: 150px;height: 150px">
      <h3>{{product.name}}</h3>
      <h4 class="text-danger">{{(product.price) | currency:'TRY':'symbol-narrow':'1.2-2'}} TL</h4>
      <div class="form-group text-center">
        <div class="row d-flex justify-content-center">
          <div class="col-md-6">
            <input type="number" min="1" id="quantity-{{product.name}}" class="form-control" style="font-weight: 700" value="1">
          </div>
        </div>
      </div>
      <button class="btn btn-primary mt-2" (click)="addBasket(product)">Sepete Ekle</button>
    </div>
  </div>



</div>
